//- META INFORMATION
- const page_title = 'Emi Nihonyanagi Portfolio'
- const relativePath = '.'
//- - const meta_title = 'this is meta title'
- const meta_description = 'Emi Nihonyanagi Portfolio'
- const currentPage = 'home'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = true
- const isPolyfill = true

doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug
    body(class=`${currentPage}`)#top
        div(ontouchstart="")
            //- LOADING
            include ./_inc/_siteLoading.pug

            //- HEADER
            include ./_inc/_siteHeader.pug

            //- FV
            include ./_inc/_homeFv.pug

            //- MAIN CONTENT
            main.main
                include ./_inc/_homePortfolio.pug

                section.home__profile(id="home__profile")
                    .home__profile-container.container
                        figure.home__profile-thum.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s")
                            img(src="./_assets/images/top/profile_bg.png", alt="" class="")
                        .home__profile-text
                            h2.main__title.js-main__title Profile
                            .wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.6s")
                                p.main__text 2012年より主に受託案件を中心に、Web制作会社、フリーランスにて制作経験を積む。
                                p.main__text WordPressカスタマイズ・本体＋プラグインアップデート・新規構築・運用等の経験が豊富です。
                                p.main__text クライアントとの商談を行い、エンドクライアントにとってより運用しやすい構築を心がけております。
                                p.main__text 新人教育担当、コードレビュー、外注先への指示出し等のディレクター補佐・進行管理・デバッグを経験しております。
                    .home__profile-slide.container
                        .wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s")
                            h3.home__profile-slideTitle 社内向けの新人教育用に作成した資料
                            p.main__text 新人教育方法がドキュメント形式だったため、内容が伝わりにくい状態であり、見直しが必要であると感じました。基礎的な画像の書き出し方法・マークアップ方法・セルフチェック方法などをまとめました。
                            .home__profile-slideItem
                                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQzBDMkCTRa1ZhdJbjJYydir72NDY0u3fAKHuZPVzNSWh92dtzRkqv7vVg7ObviJA/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                                .home__profile-slideNotes
                                    |※ slideが読みにくい方は
                                    a(href="https://docs.google.com/presentation/d/1Of7ciQ65N-SaDFoiQKfynV2NmdXbH52F/edit?usp=sharing&ouid=101045477584921854123&rtpof=true&sd=true" target="_blank")  こちらのリンク
                                    | からご覧ください
                        .wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s")
                            h3.home__profile-slideTitle  社内向けのWordpressの初級・中級者用に作成した資料
                            p.main__text 一緒に働く仲間に何か残せないかと考えた時に、社内で私がWordpressの知見豊富な存在でしたので、今まで培ってきた経験から、詰まりやすい箇所・構築する上で必要な知識を仲間に役立てればと思い作成しました。引用ばかりですが、仲間への愛情をたっぷり込めて作成しました。
                            .home__profile-slideItem
                                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQZJDTTR90UXqs2bnob-IPdz9pAhLj8ML1jF8NVYiXxopJPicDiERyDbW5Tv4PLeg/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                                .home__profile-slideNotes
                                    |※ slideが読みにくい方は
                                    a(href="https://docs.google.com/presentation/d/1QQtYgNV-r1Xw8VCd2w6HeT_ALa6jZ_KO/edit?usp=sharing&ouid=101045477584921854123&rtpof=true&sd=true" target="_blank")  こちらのリンク
                                    | からご覧ください
                        .wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s")
                            h3.home__profile-slideTitle 社内ブログで記入した記事
                            p.main__text: a(href="https://www.wp-tech.net/article/919/" target="_blank") [JS] Modalの中で動くアンカーリンク
                            p.main__text: a(href="https://www.wp-tech.net/article/924/" target="_blank") [CSS] Print.css　印刷対応する時に、気をつけること
                            p.main__text: a(href="https://www.wp-tech.net/article/979/" target="_blank") [WP] Wordpress サイトヘルスについて
                            p.main__text: a(href="https://www.wp-tech.net/article/999/" target="_blank") [js] WVON　多言語切り替え時のclass付与
                            p.main__text: a(href="https://www.wp-tech.net/article/1006/" target="_blank") [SourceTree] mp4のファイルがコミットに反映できない時

                include ./_inc/_homeCareer.pug

                include ./_inc/_homeSkill.pug

                include ./_inc/_homeTool.pug

            //- FOOTER
            include ./_inc/_siteFooter.pug
